 @use 'vars';


 .MobileMenu{
    padding: 24px;
    position: absolute;
    width: 150px;
    top: 70px;
    left: 0px;
    background-color: var(--white);
    border-radius: 8px;
}

.MobileMenu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    
}

.MobileMenu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.MobileMenu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.MobileMenu ul li{
    margin-bottom: 24px;
}
.MobileMenu .email{
    font-size: var(--sm);
    font-weight: 300;
}

.sign-out{
    color: var(--hospital-green)!important;
    font-size: var(--sm);
}

.MobileMenu ul:nth-child(3){
    position: absolute;
    bottom: 0;
}

